* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent {
    background-color: #23424A;
    color: white;
    margin: 0 auto;
    width: 80% ;
    padding: 5em;
    /* height: 300px; */
}

/* .child {
    background-color: #38CFD9;
    width: 50%;
    height:250px; 
} */
